.servers-container {
    max-width: 700px;
    width: 95vw;
    margin: 20px auto 0;
}

.servers-container-inner {
    position: absolute;
    top: calc(80vh / 2);
    transform: translateY(-50%) translateX(-50%);
    width: max-content;
    left: 50%;
}

.server {
    color: white;
    background-color: black;
    max-width: 700px;
    width: 95vw;
    margin-top: 15px;
    display: flex;
    filter: brightness(100%);
    cursor: pointer;
}

.server-info {
    padding: 15px calc(15px - 10px);
    height: max-content;
    background-color: rgb(30, 30, 30);
    opacity: 1;
    transition-duration: 250ms;
    max-height: 400px;
    overflow: scroll;
}

.server-info-collapsed {
    height: 0px;
    opacity: 0;
    padding: 0px;
}

.server-info-collapsed * {
    display: none;
}

.server:hover {
    transition-duration: 250ms;
    background-color: rgb(50, 50, 50);
}

.server span {
    display: block;
}

.server .chevron {
    font-size: 25px;
    padding-left: 2px;
    margin-left: 2px;
    padding-top: 1px;
    transition: 250ms;
    transform: rotate(0deg);
}

.server-expanded .chevron {
    transform: rotate(90deg);
}

.server-name {
    font-size: 14px;
    margin: 7px;
}

.server-id {
    opacity: 0.5;
    font-family: var(--font-family-mono);
    font-size: 9px;
    margin: 7px;
    margin-left: auto;
    margin-right: 10px;
}

.server-info-label {
    color: white;
    font-family: var(--font-family-mono);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    margin: 0px;
    padding-left: 10px;
}

.server-command-container,
.server-rewrite-container {
    color: white;
    margin: 5px 20px;
    font-family: var(--font-family-mono);
    font-size: 12px;
}

.server-rewrite-port-container,
.server-rewrite-conditions-container {
    margin: 0;
}

.server-command-container span,
.server-rewrite-port-container span,
.server-rewrite-conditions-container span {
    display: inline-block;
}

.server-command-dir,
.server-rewrite-port-label,
.server-rewrite-header-label {
    opacity: 0.5;
}

.server-command,
.server-rewrite-port,
.server-rewrite-condition {
    margin-left: 7.5px;
}

.server-info-conditions-label {
    padding: 0;
    margin: 5px 0px;
}

.server-rewrite-conditions-container {
    margin: 0px 20px;
}

.server-command-container {
    max-height: 200px;
    overflow: scroll;
}
.server-log-line {
    margin: 0;
}