.header-inner {
    max-width: 700px;
    width: 95vw;
    display: flex;
    margin: 0px auto;
    margin-top: 20px;
}

.header-inner a,
a:visited {
    color: black;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

.header-right {
    margin-left: auto;
}

.homepage-blocks {
    color: white;
    position: relative;
}

.homepage-blocks .homepage-blocks-inner {
    width: 50%;
    top: 25vh;
    position: absolute;
    transform: translateY(-50%);
}

.homepage-blocks-inner h3 {
    font-size: 36px;
    font-style: italic;
    margin: 0px;
    width: calc(100% - 50px);
    padding-left: 25px;
    padding-top: 15px;
}

.homepage-blocks-inner p {
    margin: 0px;
    font-size: 12px;
    width: calc(100% - 50px);
    padding-left: 25px;
    padding-bottom: 25px;
}